body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  background-color: #9CED9C;
}

h1{
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: #008970;
}

.inputSection{
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs{
  width: inherit;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 10px;
  color: black;
  background-color: #d966ff;
}

.addOption{
  margin-top: 10px;
  color: white;
  background-color:#008970;
}

.goOption{
  background-color: #6B2136;
  color: white;
  border-radius: 80%;
}

::placeholder{
  color: black;
}

img {
    border-radius: 50%;
    margin-top: 10px;
    width: 200px;
    }

button{
  padding: 20px 30px;
}

.resultSection{
  height:100px;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-bottom: 40px;
}

h2{
  font-size: 40px;
  margin-top: 60px;
}
